.about {
  .row {
    .col-md-12 {
      padding: 0;
    }
    .about-title {
      color: $kappa-violet;
      margin-top: 100px;
      text-align: center;
    }
    .about-kicker {
      margin-top: 45px;
      text-align: center;
      margin-bottom: 100px;
    }
    .people-container {
      padding: 50px 0;
      background-image: url('../../Images/shards_pattern.jpg');
      display: flex;
      justify-content: center;
      align-items: center;
      .people-slide {
        align-self: center;
        height: 300px;
        width: 50%;
        .person {
          margin: 50px auto;
          border-radius: 100px;
          width: 200px;
          height: 200px;
          background-image: url('http://images.wisegeek.com/man-with-dark-hair-and-gray-shirt.jpg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          &:hover, &:focus {
            cursor: pointer;
            .toggle {
              display: block;
            }
          }
          .toggle {
            position: absolute;
            height: 200px;
            width: 200px;
            border-radius: 100px;
            background-color: rgba(0, 0, 0, 0.67);
            display: none;
            .name {
              padding-top: 60px;
              color: white;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
