.about {
  margin: 0px;
  padding: 0px;
  .row {
    border: 1px solid black;
    .about-us {
      border-right: 1px solid black;
      height: 400px;
      .visible {
        .about-title {
          font-size: 48px;
          margin-top: 50px;
          margin-left: 50px;
        }
      }
      .hidden-hover {
        width: 100%;
        .about-desc {
          font-size: 28px;
          margin-top: 75px;
          margin-left: 100px;
        }
        .learn-more {
          font-size: 18px;
          font-weight: 800;
          position: absolute;
          bottom: 15px;
          left: 50%;
          color: black;
          &:hover {
            transition: color 0.25s ease-in-out;
            color: $kappa-yellow;
          }
        }
      }
    }
    .donations {
      height: 400px;
      .visible {
        .total-donated {
          font-size: 48px;
          margin-top: 200px;
          margin-left: 100px;
        }
      }
      .hidden-hover {
        .donation-desc {
          margin-left: 100px;
          font-size: 28px;
        }
        .donate-here {
          font-size: 18px;
          font-weight: 800;
          position: absolute;
          bottom: 15px;
          left: 50%;
          color: black;
          &:hover {
            transition: color 0.25s ease-in-out;
            color: $kappa-yellow;
          }
        }
      }
    }
  }
}
