#contacts {
	background-color: rgb(70, 70, 70);
	.col-md-4 {
		margin-top: 10px;
		// border-right: 3px solid black;
		margin-left: 15px;
		.contact-title {
			color: $kappa-pink;
			padding-left: 10px;
			border-bottom: 3px solid black
		}
		.copyright,.legal {
			color: black;
			display: block;
			padding: 10px 10px;
		}
		.nav-title {
			color:$kappa-blue;
			padding-left: 10px;
			border-bottom: 3px solid black
		}
		.nav {
			.option {
				a {
					color:white;
				}
			}
			#option-1 {
				a {
					&:hover {
						color:$kappa-pink;
					}
				}
			}
			#option-2 {
				a {
					&:hover {
						color:$kappa-blue;
					}
				}
			}
			#option-3 {
				a {
					&:hover {
						color:$kappa-yellow;
					}
				}
			}
			#option-4 {
				a {
					&:hover {
						color:$kappa-green;
					}
				}
			}
		}
	}
	.col-md-1 {
		margin-top: 50px;
		// margin-left: 10px;
		@media screen and (min-width: 992px) {
			.media-list {
				display: block;
			}
			.media {
				display: flex;
				width: 50px;
				height: 50px;
				a {
					img {
						width: 50px;
						height: 50px;
						&:hover {
							border: 1px solid $kappa-green;
						}
					}
				}
			}
		}

		@media screen and (max-width: 992px) {
			margin-top: 0;
			.media-list {
				align-items: center;
				justify-content: center;
				display: flex;
				.media {
					margin-bottom: 25px;
					margin-right: 25px;
					a {
						img {
							width: 35px;
							height: 35px;
						}
					}
				}
			}
		}
		.center {
			width: 100%;
			margin: 0 auto;
			.media-list {
				#media-4 {
					a {
						img {
							&:hover {
								border-radius: 15px;
							}
						}
					}
				}
			}
		}
	}
	.col-md-6 {
		margin-top: 10px;
		@media all and (max-width: 992px) {
			display: none;
		}
		@media all and (min-width: 992px) {
			display: block;
		}
		.email-form {
			.email-header {
				h3 {
					color: $kappa-yellow;
					border-bottom: 3px solid black;
					padding-left: 15px;
				}
				.subject, .cc {
					margin-top: 25px;
					margin-left: 15px;
					color: white;
					width: 45%;
					font-size: 16px;
					padding: 7px 12px;
					background-color: rgb(113, 113, 113);
					border: 1px solid black;
					&:hover {
						border: 1px solid $kappa-violet;
					}
					&:focus {
						border: 1px solid $kappa-pink;
						outline: none;
					}
				}
				.cc {
					margin-right: 1%;
				}
			}
			.email-body {
				width: 100%;
				.body {
					font-size: 16px;
					color: white;
					padding: 5px 5px;
					background-color: rgb(113, 113, 113);
					margin-top: 25px;
					width: 100%;
					border: 1px solid black;
					resize: none;
					height: 200px;
					&:hover {
						border: 1px solid $kappa-violet;
					}
					&:focus {
						border: 1px solid $kappa-pink;
						outline: none;
					}
				}
			}
			.button-container {
				text-align: center;
				.send {
					background-color: rgb(113, 113, 113);
					width: 200px;
					display: inline;
					text-align: center;
					color: white;
					margin: 15px 0;
					height: 40px;
					border: 1px solid black;
					&:hover {
						border: 1px solid $kappa-pink;
						background-color: $kappa-violet;
					}
				}
			}
		}
	}
}
