.header {
  text-align: center;
  .jumbotron {
    .kappa-title {
      letter-spacing: -7px;
      margin-bottom: 200px;
      .kappa {
        display: inline-block;
        padding: 1px 10px 1px 2px;
        border: 1px solid black;
      }
      #letter-k, #letter-p-1, #letter-a-2 {
        transform: translateY(-30px);
      }
      #letter-a-1, #letter-p-2 {
        transform: translateY(30px);
      }
    }
    .desc-title {
      .desc-animated {
        padding: 0px 5px;
        border: 2px $kappa-blue solid;
      }
    }
  }
}
