.project {
  border-bottom: 1px solid black;
  #row-1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }
  #row-2 {
    margin-bottom: 100px;
    .project-container {
      height: 350px;
      .project-visible {
        .overlay {
          margin: -1px -15px;
          width: 100%;
          position: absolute;
          .logo {
            display: block;
            margin: 125px auto;
            width: 135px;
            height: 135px;
            border-radius: 100%;
          }
        }
      }
      .hidden-hover {
        display: none;
        .project-title {
          color:$kappa-blue;
          margin-top: 5px;
          text-align: center;
        }
        .project-info {
          margin-top: 50px;
        }
      }
    }
  }
}
