.project {
  background-color: rgb(255, 255, 255);
  #row-1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }
  #row-2 {
    #project-2 {
      .logo {
        background-image: url('http://c10645061.r61.cf2.rackcdn.com/landingpages/ftc_game8_6652_ag_small.jpg');
      }
    }
    #project-3 {
      .logo {
        background-image: url('http://www.johnsonsoutherland.com/overlake2%20024.JPG');
      }
    }
    margin-bottom: 100px;
    .project-container {
      height: 350px;
      margin-bottom: 50px;
      .project-visible {
        height: inherit;
        .logo {
          height: inherit;
          background-position: center;
          background-size: cover;
          background-image: url('http://m1.22slides.com/cassandralynnphotomedia/5243_image_639792.jpg');
          .overlay {
            height: inherit;
            .overlay-container {
              display: none;
              height: inherit;
              h1 {
                padding: 0;
                color:$kappa-yellow;
                text-align: center;
              }
              p {
                color:white;
                margin: 15px 25px;
                line-height: 2;
              }
              .read-more {
                color: white;
                display: block;
                margin: 0 auto;
                text-align: center;
                &:hover {
                  color: $kappa-pink;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
