.project {
  background-color: rgb(255, 255, 255);
  #row-1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }
  #row-2 {
    #project-2 {
      .logo {
        background-image: url('http://s1.1zoom.net/big0/798/379129-svetik.jpg');
      }
    }
    #project-3 {
      .logo {
        background-image: url('http://m-static.flikie.com/ImageData/WallPapers/38b29e6d995e44569f76c153f864f220.jpg');
      }
    }
    margin-bottom: 100px;
    .project-container {
      height: 350px;
      margin-bottom: 50px;
      .project-visible {
        height: inherit;
        .logo {
          height: inherit;
          background-position: center;
          background-size: cover;
          background-image: url('http://cdn.experiencewa.com/sites/default/master/files/styles/tag-slider-colorbox/public/waterfall.jpg?itok=WwkSx_0d');
          .overlay {
            height: inherit;
            .overlay-container {
              display: none;
              height: inherit;
              h1 {
                padding: 0;
                color:$kappa-yellow;
                text-align: center;
              }
              p {
                color:white;
                margin: 15px 25px;
                line-height: 2;
              }
              .read-more {
                color: white;
                display: block;
                margin: 0 auto;
                text-align: center;
                &:hover {
                  color: $kappa-pink;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
