html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
@import "1-tools/bootstrap/_bootstrap";
@import "1-tools/variables";
@import "2-sections/contact";
