@-webkit-keyframes logo-animate {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
@-moz-keyframes logo-animate {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
@-o-keyframes logo-animate {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes logo-animate {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
