@-webkit-keyframes title-animate-up {
  0%   { transform: translateY(90px); border: 1px solid black;  }
  100% { transform: translateY(0px); border: 1px solid rgba(0, 0, 0, 0); }
}
@-moz-keyframes title-animate-up {
  0%   { transform: translateY(90px); border: 1px solid black;  }
  100% { transform: translateY(0px); border: 1px solid rgba(0, 0, 0, 0);  }
}
@-o-keyframes title-animate-up {
  0%   { transform: translateY(90px); border: 1px solid black; }
  100% { transform: translateY(0px); border: 1px solid rgba(0, 0, 0, 0);  }
}
@keyframes title-animate-up {
  0%   { transform: translateY(90px); border: 1px solid black; }
  100% { transform: translateY(0px); border: 1px solid rgba(0, 0, 0, 0);  }
}

@-webkit-keyframes title-animate-down {
  0%   { transform: translateY(-90px); border: 1px solid black; }
  100% { transform: translateY(0px); border: 1px solid rgba(0, 0, 0, 0); }
}
@-moz-keyframes title-animate-down {
  0%   { transform: translateY(-90px); border: 1px solid black; }
  100% { transform: translateY(0px);border: 1px solid rgba(0, 0, 0, 0);  }
}
@-o-keyframes title-animate-down {
  0%   { transform: translateY(-90px); border: 1px solid black; }
  100% { transform: translateY(0px); border: 1px solid rgba(0, 0, 0, 0);  }
}
@keyframes title-animate-down {
  0%   { transform: translateY(-90px); border: 1px solid black; }
  100% { transform: translateY(0px); border: 1px solid rgba(0, 0, 0, 0);}
}

@-webkit-keyframes title-animate-border {
  0%   { border: none }
  100% { border: 1px solid black; padding: 0 }
}
@-moz-keyframes title-animate-border {
  0%   { border: none; }
  100% { border: 1px solid black; padding: 0 }
}
@-o-keyframes title-animate-border {
  0%   { border: none }
  100% { border: 1px solid black; padding: 0 }
}
@keyframes title-animate-border {
  0%   { border: none }
  100% { border: 1px solid black; padding: 0 }
}
