.menu-container {
  z-index: 100;
  position: fixed;
  left:80vw;
  top:25px;
  width: 66px;
  height: 60px;
  &:hover {
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
    background-color: $kappa-blue;
    cursor: pointer;
    transform: scale(1.05);
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  }
  &:before {
    content: "";
    position: absolute;
    left: 0.35em;
    top: 0.75em;
    width: 4em;
    height: 0.60em;
    background: black;
    box-shadow:
      0 1em 0 0 black,
      0 2em 0 0 black;
  }
}

.menu-plate {
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.73);
  .menu-main-container {
    text-align: center;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75);
    height: 100%;
    margin-left: 15px;
    // background-color: rgba(0, 0, 0, 0.73);
    .menu-title {
      color:$kappa-yellow;
      margin: 0;
      padding: 30px 0;
      text-align: center;
      .menu-close {
        font-size: 24px;
        color:rgb(138, 36, 36);
        position: absolute;
        margin: 7px 15px 0 15px;
        &:hover {
          transition: 0.5s color ease-in-out, 0.5s text-decoration ease-in-out;
          cursor: pointer;
          color:$kappa-pink;
          text-decoration: underline;
        }
      }
    }
    .internal {
      color: rgb(175, 175, 175);
      margin-left: 5px;
      text-decoration: underline;
    }
    .external {
      color: rgb(175, 175, 175);
      margin-left: 5px;
      text-decoration: underline;
    }
    .menu-list {
      text-align: center;
      padding: 0;
      margin: 0 auto;
      list-style: none;
      .menu-item {
        text-align: center;
        padding: 5px 0;
        margin: 0 auto;
        width: 300px;
        font-size: 18px;
        color: white;
        &:hover {
          background-color:rgb(177, 177, 177);
          cursor: pointer;
        }
        a {
          color: white;
          text-align: center;
          text-decoration: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
      #item-1 {
        &:hover {
          a {
            color: $kappa-blue;
          }
        }
      }
      #item-2 {
        &:hover {
          a {
            color: $kappa-pink;
          }
        }
      }
      #item-3 {
        &:hover {
          a {
            color: $kappa-green;
          }
        }
      }
      #item-4 {
        &:hover {
          a {
            color: $kappa-yellow;
          }
        }
      }
    }
  }
}
