.header {
  .jumbotron {
    border-radius: none;
    background-image: url('../../Images/jumbotron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    .kappa-title {
      .letter-up {
        transform: translateY(-60px);
      }
      .letter-down {
        transform: translateY(60px);
      }
      #letter-k {
        background-color: $kappa-pink;
      }
      #letter-a-1 {
        background-color: $kappa-green;

      }
      #letter-p-1 {
        background-color: $kappa-blue;
      }
      #letter-p-2 {
        background-color: $kappa-yellow;
      }
      #letter-a-2 {
        background-color: $kappa-green;
      }
    }
    .desc-title {
      color:white;
    }
  }
}
