.header {
  .jumbotron {
    border-radius: none;
    background-image: url('http://eskipaper.com/images/scenic-wallpaper-15.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    .kappa-title {
      .letter-up {
        transform: translateY(-60px);
      }
      .letter-down {
        transform: translateY(60px);
      }
      #letter-k {
        background-color: $kappa-pink;
      }
      #letter-a-1 {
        background-color: $kappa-green;

      }
      #letter-p-1 {
        background-color: $kappa-blue;
      }
      #letter-p-2 {
        background-color: $kappa-yellow;
      }
      #letter-a-2 {
        background-color: $kappa-green;
      }
    }
    .desc-title {
      color:white;
    }
  }
}

.kappa-title {
  &:hover {
    .letter-up {
      -webkit-animation: title-animate-down 1s;
      -moz-animation:    title-animate-down 1s;
      -o-animation:      title-animate-down 1s;
      animation:         title-animate-down 1s;
      animation-fill-mode: forwards;
    }
    .letter-down {
      -webkit-animation: title-animate-up 1s;
      -moz-animation:    title-animate-up 1s;
      -o-animation:      title-animate-up 1s;
      animation:         title-animate-up 1s;
      animation-fill-mode: forwards;
    }
  }
}
