.project {
  #row-1 {

  }
  #row-2 {
    .project-container {
      .hidden-hover {
      }
    }
  }
  .project-slide {
    // background-color: pink;
    width: 100%;
    position: absolute;
    left:100%;
    display: none;
  }
}
