.project {
  position: relative;
  overflow: hidden;
  #row-1 {
    .project-head {
      color: $kappa-pink;
    }
  }
  #row-2 {
    .project-container {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .project-slide {
    .back-link {
      text-decoration: none;
      color:black;
      .back {
        color:black;
      }
      .back-arrow {
        width: 35px;
        height: 35px;
      }
      &:hover {
        color:rgb(191, 133, 25);
        .back {
          color:rgb(191, 133, 25);
        }
      }
    }
    width: 100%;
    position: absolute;
    left:400%;
    p {
      margin: 15px 0;
      line-height: 2;
      font-size: 18px;
    }
    img {
      margin: 10px 15px;
      height: 30vh;
      width: 40vw;
      @media all and (min-width: 1850px) {
        height: 250px;
        width: 400px;
      }
    }
    h1 {
      text-align: center;
    }
    .green {
      color: $kappa-green;
    }
    .violet {
      color: $kappa-violet;
    }
    .red {
      color: $kappa-pink;
    }
    .blue {
      color: $kappa-blue;
    }
    .yellow {
      color: $kappa-yellow;
    }
    .right {
      float:right;
    }
    .left {
      float: left;
    }
  }
}
