#section-2 {
  background-color: #00062A;
}
.clear-fix-about {
}
.about-title {
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  color: black;
  padding: 45px 0;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.25s ease-in-out;
  &:hover {
    cursor:default;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }
}

.mission-row {
  width: 100%;
  overflow-x: hidden;
  .slider-container {
    width: 200%;
    display: flex;
    h4 {
      line-height: 2;
    }
    .slider {
      width: 40%;
      position: relative;
      padding: 25px 15px;
      margin: 50px 5%;
      border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
      .about-subtitle {
        color:black;
				text-transform: capitalize;
      }
      .see-mission,.back-btn {
        line-height: 2;
        margin: 25px auto;
        display: block;
        width: 150px;
        text-decoration: none;
        color:black;
        border: 3px solid black;
        transition:all 0.5s ease;
        &:hover {
          background-color: #93A3B1;
          cursor: pointer;
        }
      }
    }
  }
}

.work-row {
  &:hover {
    cursor: default;
  }
  margin-bottom: 75px;
  .container-work {
    margin-top: 15px;
    height: 350px;
    background-color: white;
    h4 {
      font-size: 26px;
      color:black;
      padding: 10px 0;
      margin: 0;
    }
    .icon {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      padding-top: 5px;
    }
    .desc {
      padding: 25px 5px;
      color: black;
      line-height: 1.5;
    }
    transition: all 0.5s ease-in-out;
    &:hover {
      -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
			transform: scale(1.05);
    }
  }
}
