.section{

  font-family: 'Montserrat', sans-serif;
}
#section-1 {
  height:100vh;
  background-image: url('http://s1.1zoom.me/big0/365/Waterfalls_Scenery_490125.jpg');
  background-size: cover;
  background-attachment: fixed;
  @media all and (max-width: 560px) {
    background-attachment: local;
  }
}

.logo {
  width: 100px;
  height: 100px;
  position:absolute;
  left: 30px;
  top:30px;
  color: white;
  font-size: 40px;
  overflow: hidden;
  -webkit-box-shadow: -14px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -14px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: -14px 10px 15px 0px rgba(0,0,0,0.75);
  &:hover {
    transition: all 0.5s ease-in-out;
    transform: translateX(15px) translateY(15px);
    cursor: pointer;
    color: black;
  }
}

.hamburger {
  position: fixed;
  float:right;
  right: 49px;
  top: 50px;
}

.clear-fix {
  padding-top: 200px;
  .desc-title {
    color: white;
    .desc-animated {
      padding: 5px 15px;
      text-transform: capitalize;
      margin-left: 15px;
      border: 4px solid white;
    }
  }
}

.scrolling-mouse {
  width: 40px;
  height: 75px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  border-radius: 25px;
  border: 3px solid white;
  .dot {
    margin: 10px auto;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 5px;
    animation-duration: 1.25s;
    animation-name: slidedown;
    animation-iteration-count: infinite;
  }

  @keyframes slidedown {
    from {
      margin-top: 10px
    }
    to {
      margin-top: 50px;
    }
  }
}
