.overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	.flex-menu {
		width: inherit;
		height: 100%;
		text-align: center;
		.flex-col {
			@media all and (max-width: 500px) {
				height: 75px;
				.link {
					padding-bottom: 6px;
				}
			}
			@media all and (min-width: 500px) {
				height: 100px;
				.link {
					padding-bottom: 25px
				}
			}
			display: block;
			padding: 25px 50px;
			color:black;
			font-size: 36px;
			text-decoration: none;
			&:hover {
				cursor: pointer;
				transition:color 0.5s ease;
			}
			.link {
				display: block;
				text-decoration: none;
			}
		}
		.flex-col-1 {
			background: linear-gradient(to right, #93A3B1 50%, rgba(255, 255, 255, 0) 50%);
		  background-size: 200% 100%;
		  background-position:right bottom;
		  transition:all 0.5s ease;
			.link {
				color: #00062a;
			}
			&:hover {
				background-position: left bottom;
				.link {
					color: white;
				}
			}
		}
		.flex-col-2 {
			background: linear-gradient(to right, #00062a 50%, rgba(255, 255, 255, 0) 50%);
			background-size: 200% 100%;
		  background-position:right bottom;
		  transition:all 0.5s ease;
			.link {
				color: #93A3B1;
			}
			&:hover {
				background-position: left bottom;
				.link {
					color: white;
				}
			}
		}
		.flex-col-3 {
			background: linear-gradient(to right, #93A3B1 50%, rgba(255, 255, 255, 0) 50%);
			background-size: 200% 100%;
		  background-position:right bottom;
		  transition:all 0.5s ease;
			.link {
				color: #00062a;
			}
			&:hover {
				background-position: left bottom;
				.link {
					color: white;
				}
			}
		}
		.flex-col-4 {
			border-top: 1px solid black;
			background: linear-gradient(to right, rgb(67, 55, 70) 50%, rgba(255, 255, 255, 0) 50%);
			background-size: 200% 100%;
		  background-position:right bottom;
		  transition:all 0.5s ease;
			.link {
				color: rgb(67, 55, 70);
			}
			&:hover {
				background-position: left bottom;
				.link {
					color: white;
				}
			}
		}
	}
}
