@import "head.scss";

.section {
  height: 100vh;
}

#section-1 {
  background-color: rgb(96, 218, 241);
}

#section-2 {
  background-color: rgb(110, 80, 159);
}

#section-3 {
  background-color: rgb(205, 162, 1);
}

#section-4 {
  background-color: rgb(90, 187, 101);
}
